@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}
.background {
    opacity: 0.3;
    stroke-width: 17;
    fill: none;
}
.overlayLine {
    fill: none;
    stroke-width: 17;
    animation: dash 2s linear forwards;
}

@font-face{
    font-family: "myRoboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "titleRoboto";
    src: url("fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf")
}
.primary--text{
    color: #7E8959;
    font-family: "myRoboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}
/* ------------------------------------MOBILE VIEW------------------------------ */
@media screen and (max-width: 599px) {
    body{
        font-family: 'myRoboto';
        font-style: normal;
        font-weight: normal;
    }
    #parkTitle{
        color: #7E8959;
        margin-left: 15px;
        margin-top: 15px;
        font-size: 20px;
        line-height: 23px;
        font-family: 'titleRoboto';
        font-weight: normal;
    }
    #date{
        margin-left: 15px;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.87);
        margin-top: 2px;
        margin-bottom: 15px;
        font-weight: normal;
    }
    #svg{
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        display: block;
        margin-bottom: 10px;
        display: block;
    }
    #svgContainer{
        display: block;
        width: 90%;
        text-align: center;
        margin-left: 16px;
    }
    .overlayLine2 {
        fill: none;
        stroke-width: 30;
        animation: dash 2s linear forwards;
    }
    .background2 {
        opacity: 0.3;
        stroke-width: 30;
        fill: none;
    }
    #currentTemp{
        font-family: 'myRoboto';
    }
    #seasonImage{
        background-image: url('images/summer.png');
        width: 100%;
        height: auto;
        min-height: 60px;
        background-repeat:no-repeat;
        background-size: contain;
        display: block;
        position: relative;
    }
    .subHeaderContainer{
        display: block;
        border-bottom: .5px solid rgb(212,212,212, .8);
    }
    #popularTrailsContainer{
        display: block;
    }
    .subHeaders{
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.87);
        display: inline;
    }
    .hourlyButtonContainer{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        left: 0;
        text-align: center;
        width: 49%;
        margin-bottom: 15px;
        display: inline-block;
    }
    .dailyButtonContainer{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        right: 0;
        text-align: center;
        width: 49%;
        display: inline-block;
    }
    #hourlyButton, #dailyButton{
        color: #7E8959;
        width: 100%;
        height: 48px;
    }
    #hourlyButton:focus{
        border-bottom: 2px solid #7E8959;
    }
    #dailyButton:focus{
        border-bottom: 2px solid #7E8959;
    }
    .displayContainer{
        display: block;
    }
    .displayContainer > div, .displayContainer2 > div{
        display: inline-block;
        display: -moz-inline-box;
        *display: inline; /* For IE7 */
        zoom: 1; /* Trigger hasLayout */
        width: 25%;
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        padding-left: 5px;
        padding-right: 5px;
        vertical-align: top;
    }
    .displayContainer2 > div{
        width: 24%;
    }
    #display1{
        margin-left: 4px;
        margin-right: -2px;
    }
    #currentWeatherIcon{
        margin-top: 15px;
        margin-left: 15px;
        height: 20px;
        width: 20px;
        position: absolute;
    }
    .nextHoursContainer{
        text-align: center;
        margin: 20px;
    }
    #popTrailsNextHours{
        color: #7E8959;
        text-align: center;
        border: 1px solid #7E8959;
        padding: 10px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
    }
    .selectionWrapper{
        box-shadow: 0px 2px rgb(212,212,212, .8);
        padding-bottom: 5px;
    }

    /* ------------------------ICONS--------------------------- */
    #popularTrailsIcon{
        display: inline-block;
        background-image: url("icons/trails_outline_green.svg");
        width: 25px;
        height: 25px;
        margin: 18px;
        vertical-align: middle;
    }
    #parkingIcon{
        display: inline-block;
        background-image: url("icons/parking_outline_blue.svg");
        width: 25px;
        height: 25px;
        margin: 18px;
        vertical-align: middle;
    }
    #shuttleIcon{
        display: inline-block;
        background-image: url("icons/zion_shuttle_outline_red.svg");
        width: 25px;
        height: 25px;
        margin: 18px;
        vertical-align: middle;
    }
    #entranceIcon{
        display: inline-block;
        background-image: url("icons/kolob_outline_yellow.svg");
        width: 25px;
        height: 25px;
        margin: 18px;
        vertical-align: middle;
    }
}

#green {  /* testing purposed*/
    background-color: #7E8959;
}