@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}
.background {
    opacity: 0.3;
    stroke-width: 17;
    fill: none;
}
.overlayLine {
    fill: none;
    stroke-width: 17;
    animation: dash 2s linear forwards;
}

@font-face{
    font-family: "myRoboto";
    src: url("fonts/Roboto/Roboto-Light.ttf");
}
@font-face{
    font-family: "titleRoboto";
    src: url("fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf")
}
.primary--text{
    color: #7E8959;
    font-family: "myRoboto";
    src: url("fonts/Roboto/Roboto-Light.ttf");
}
@media screen and (max-width: 599px) {
    body{
        font-family: 'myRoboto';
        font-style: normal;
        font-weight: normal;
    }
    #parkTitle{
        color: #7E8959;
        margin-left: 15px;
        margin-top: 30px;
        font-size: 20px;
        line-height: 23px;
        font-family: 'titleRoboto'
    }
    #date{
        margin-left: 15px;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.87);
        margin-top: 2px;
        margin-bottom: 15px;
    }
    #svg{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        display: block;
        margin-bottom: 10px;
        display: block;
    }
    #svgContainer{
        display: block;
        width: 90%;
        height: 340px;
    }
    #currentTemp{
        font-family: 'myRoboto';
    }
    #seasonImage{
        background-image: url('images/summer.png');
        width: 120%;
        margin-left: -30px;
        background-repeat:no-repeat;
        background-size: contain;
        height:80px;
        display: block;
        position: relative;
    }
    #popularTrailsIcon{
        display: inline-block;
        background-image: url("icons/trails_outline_green.svg");
        width: 25px;
        height: 25px;
    }
    #popularTrailsTitle{
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.87);
        display: inline;
    }
}
